@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Multi Steps Sign-up - Pages";
}

@section VendorStyles {
    <!-- Vendor -->
    <link rel="stylesheet" href="~/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@section PageScripts {
    <script src="~/js/pages-auth-multisteps.js"></script>
}
@* ************** Content ************** *@

<div class="authentication-wrapper authentication-cover">
    <!-- Logo -->
    <a href="/" class="auth-cover-brand d-flex align-items-center gap-3">
        <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
        <span class="app-brand-text demo text-heading fw-semibold">OMS</span>
    </a>
    <!-- /Logo -->
    <div class="authentication-inner row m-0">
        <!-- Left Text -->
        <div class="d-none d-lg-flex col-lg-3 align-items-center justify-content-end p-5 pe-0">
            <img alt="register-multi-steps-illustration" src="~/img/illustrations/registration-multistep-illustration.png" class="scaleX-n1-rtl w-px-300 h-auto mh-100 img-fluid">
        </div>

        <div class="d-flex col-lg-9 align-items-center justify-content-center authentication-bg p-5">
            <div class="w-px-700 mt-lg-0">
                @using (Html.BeginForm("SaveUserDetails", "Login"))
                {

                    <div id="multiStepsValidation" class="wizard-numbered shadow-none">
                        <div class="border-bottom-0">
                            <div class="step" data-target="#accountDetailsValidation" style="display:none">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-circle"><i class="ri-check-line"></i></span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-number">01</span>
                                        <span class="d-flex flex-column ms-1">
                                            <span class="bs-stepper-title">Account</span>
                                            <span class="bs-stepper-subtitle">Account Details</span>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <!-- Account Details -->
                            <div id="accountDetailsValidation" class="content">
                                <div class="content-header mb-5">
                                    <div class="content-header mb-5">
                                        <h4 class="mb-0">Welcome to Order Management System (OMS)</h4>
                                        <span>Register your company by using KYC details</span>
                                    </div>
                                </div>
                                <div class="row gx-5">
                                    <div class="col-sm-6 mb-5">
                                        <div class="form-floating form-floating-outline">
                                            <input type="text" name="firstName" id="firstNameId" class="form-control" placeholder="johndoe" required />
                                            <label for="firstName">First Name/Company</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6  mb-5">
                                        <div class="form-floating form-floating-outline">
                                            <input type="text" name="lastName" id="lastNameId" class="form-control" placeholder="john.doe&#64;email.com" aria-label="john.doe" required />
                                            <label for="lastName">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-password-toggle mb-5">
                                        <div class="input-group input-group-merge">
                                            <div class="form-floating form-floating-outline">
                                                <input type="email" id="EmailName" name="EmailNameId" class="form-control" placeholder="john.doe&#64;email.com" aria-describedby="multiStepsPass2" required />
                                                <label for="emailId">Email Address</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-password-toggle mb-5">
                                        <div class="input-group input-group-merge">
                                            <div class="form-floating form-floating-outline">
                                                <input type="text" id="mobileNoId" name="mobileName" class="form-control" placeholder="" aria-describedby="multiStepsConfirmPass2" required />
                                                <label for="mobileNumber">Phone Number</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <div class="input-group input-group-merge">
                                            <div class="form-floating form-floating-outline">
                                                <select class="form-control" name="TenantName" id="TenantId" required>
                                                    <option>Please Select Tenant</option>
                                                    <option>CS Jewellers</option>
                                                    <option>Ranka Jewellers</option>
                                                    <option>P & J</option>
                                                    <option>RC Bafna</option>
                                                </select>
                                                <label for="TenantId">Tenant Name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 form-password-toggle mb-5">
                                        <div class="input-group input-group-merge">
                                            <div class="form-floating form-floating-outline">
                                                <select class="form-control" name="BranchName" id="BranchId" required>
                                                    <option>Please Select Branch</option>
                                                    <option>Pune</option>
                                                    <option>Satara</option>
                                                    <option>Karad</option>
                                                    <option>Bhosari</option>
                                                    <option>Kothrud</option>
                                                    <option>Kolhapur</option>
                                                </select>
                                                <label for="branchName">Branch Name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 form-password-toggle mb-5">
                                        <div class="form-floating form-floating-outline">
                                            <select class="form-select" name="RoleName" id="RoleId" required>
                                                <option value="" selected>Please Select Role</option>
                                                <option value="1">Vendor</option>
                                                <option value="2">Karagir</option>
                                                <option value="3">Sub Karagir</option>
                                            </select>
                                            <label for="tenantSelect">Role Name</label>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 form-password-toggle mb-5">
                                        <div class="input-group input-group-merge">
                                            <div class="form-floating form-floating-outline">
                                                <input type="text" id="usernameId" name="username" class="form-control" placeholder="" aria-describedby="multiStepsConfirmPass2" required />
                                                <label for="mobileNumber">Username</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 form-password-toggle mb-5">
                                        <div class="input-group input-group-merge">
                                            <div class="form-floating form-floating-outline">
                                                <input type="password" id="multiStepsPass" name="Password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="multiStepsPass2" required />
                                                <label for="multiStepsPass">Password</label>
                                            </div>
                                            <span class="input-group-text cursor-pointer" id="multiStepsPass2"><i class="ri-eye-off-line ri-20px"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-password-toggle mb-5">
                                        <div class="input-group input-group-merge">
                                            <div class="form-floating form-floating-outline">
                                                <input type="password" id="multiStepsConfirmPass" name="multiStepsConfirmPass" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="multiStepsConfirmPass2" required />
                                                <label for="multiStepsConfirmPass">Confirm Password</label>
                                            </div>
                                            <span class="input-group-text cursor-pointer" id="multiStepsConfirmPass2"><i class="ri-eye-off-line ri-20px"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-between" style="flex-direction: row-reverse">
                                        <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1_5 me-0">Register</span></button>
                                    </div>

                                </div>
                            </div>
                            <!-- Personal Info -->
                            <div id="personalInfoValidation" class="content">
                            </div>
                            <!-- Billing Links -->
                            <div id="billingLinksValidation" class="content">
                            </div>

                        </div>

                    </div>

                }
            </div>
        </div>
       
    </div>
</div>

<script>
    window.Helpers.initCustomOptionCheck();
</script>
